<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h2>Edit Listing</h2>
    <form action="/listings/<%= listing.id %>?_method=PUT" method="POST">
        <input type="text" name="listing[title]" value="<%= listing.title %>"><br><br>
        <textarea name="listing[description]"value="<%= listing.description %>"></textarea><br><br>
        <input name="listing[image]" value="<%= listing.image %>" type="text"><br><br>
        <input name="listing[price]" value="<%= listing.price %>" type="number"><br><br>
        <input name="listing[country]" value="<%= listing.country %>" type="text"><br><br>
        <input name="listing[location]" value="<%= listing.location %>" type="text"><br><br>
        <button>Edit</button>
    </form>
    <a href="/listings">Cancel</a>
</body>
</html>